.window_wrapper {
  display: flex;
  align-items: stretch;

}
#background {
  width: 420px;
  height: 210px;
 position: relative;
  background: url('../img/window.jpg') 0px 0px;
  top: 0;
  left: 0;
  z-index: -5;
}

.back {
  width: 440px;
  height: 200px;
 background-color: white;
 z-index: -1;
 position: absolute;
 width: 220px;
 height: 198px;
 left: 110px;
 top: 14px;
}

#fixed_left {
  position: absolute;
  z-index: 5;
  width: 118px;
  height: 210px;
  margin: 0px;
  padding: 0px;
  background: url('../img/window.jpg') 0px 0px;
}

#panel_left {
  position: absolute;
  left: 115px;
  width: 113px;
  height: 210px;
  margin: 0px;
  padding: 0px;
  background: url('../img/window.jpg') 333px 0px;
}

#panel_right {
  position: absolute;
  left: 225px;
  background-color: #000;
  width: 113px;
  height: 210px;
  margin: 0px;
  padding: 0px;
  background: url('../img/window.jpg') 222px 0px;
}

#fixed_right {
  position: absolute;
  left: 326px;
  z-index: 5;
  width: 118px;
  height: 210px;
  margin: 0px;
  padding: 0px;
  background: url('../img/window.jpg') 118px 0px;
}