.gallery {
  perspective:700px;
  width:50vw;
  display:flex; 
  justify-content:center; 
  align-items:center; 
  flex-flow:row wrap;
}
.table1{
  text-align: left;
  font-size: 0.8em;
  font-style: normal !important;

}
ul {
  position:relative;
  width:100px; height:100px;
  margin:0.1em;
  perspective-origin:center center;
  transform-style:preserve-3d;
  transform:rotateX(40deg);
  transition:all 0.4s;
}

ul:hover {
  transform:translateZ(100px) rotateX(20deg); z-index:999;
}

ul:hover li {
  filter:grayscale(0);
}

li {
  position:absolute; left:0; top:0;
  backface-visibility:hidden;
  width:100%; height:100%;
  transition:transform 0.3s, filter 1s;
  background: #d071b5;
}
/*
Setup individual planes final poistion(by left top) and initial position(by transform)
*/
li:first-of-type {transform:none;}
li:nth-of-type(2) {left:100%; transform-origin:left center; transform:rotateY(180deg);}
li:nth-of-type(3) {top:100%; transform-origin:center top; transform:rotateX(-180deg);}
li:nth-of-type(4) {left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
li:nth-of-type(5) {top:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
li:nth-of-type(6) {top:100%; left:100%; transform-origin:center top; transform:rotateX(-180deg);}
li:nth-of-type(7) {top:100%; left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
li:nth-of-type(8) {top:-100%; left:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
li:nth-of-type(9) {top:-100%; left:100%; transform-origin:left center; transform:rotateY(180deg);}
/*
Setup transition-delay, for mouseout state 
*/
li:nth-of-type(2),li:nth-of-type(3),li:nth-of-type(4),li:nth-of-type(5) {transition-delay:0.03s;}
li:nth-of-type(6),li:nth-of-type(7),li:nth-of-type(8),li:nth-of-type(9) {transition-delay:0s;}
ul:hover :nth-of-type(2),ul:hover :nth-of-type(3),ul:hover :nth-of-type(4),ul:hover :nth-of-type(5) {transition-delay:0s}
ul:hover :nth-of-type(6),ul:hover :nth-of-type(7),ul:hover :nth-of-type(8),ul:hover :nth-of-type(9) {transition-delay:0.2s}
/*
Setup planes final state
*/
ul:hover :nth-of-type(2),ul:hover :nth-of-type(4),ul:hover :nth-of-type(7),ul:hover :nth-of-type(9) {transform:rotateY(0);}
ul:hover :nth-of-type(3), ul:hover :nth-of-type(5),ul:hover :nth-of-type(6), ul:hover :nth-of-type(8) {transform:rotateX(0);}
/* 
Set background position
*/
ul li {background-size:300% 300%;}
li:nth-of-type(1) {background-position:center center;}
li:nth-of-type(2) {background-position:right center;}
li:nth-of-type(3) {background-position:center bottom;}
li:nth-of-type(4) {background-position:left center;}
li:nth-of-type(5) {background-position:center top;}
li:nth-of-type(6) {background-position:right bottom;}
li:nth-of-type(7) {background-position:left bottom;}
li:nth-of-type(8) {background-position:left top;}
li:nth-of-type(9) {background-position:right top;}
/*
Set background image source
*/
ul:nth-of-type(1) li { background-image:url("../img/portfolio/domotictech/img1.jpg");}
ul:nth-of-type(1) { width:150px; height:80px; }
ul:nth-of-type(2) li { background-image:url("../img/portfolio/domotictech/img2.jpg");}
ul:nth-of-type(2) { width:150px; height:80px; }
ul:nth-of-type(3) li { background-image:url("../img/portfolio/domotictech/img3.jpg");}
ul:nth-of-type(3) { width:150px; height:80px; }
ul:nth-of-type(4) li { background-image:url("../img/portfolio/domotictech/img4.jpg");}
ul:nth-of-type(4) { width:150px; height:80px; }
ul:nth-of-type(5) li { background-image:url("../img/portfolio/domotictech/img5.jpg");}
ul:nth-of-type(5) { width:150px; height:80px; }
ul:nth-of-type(6) li { background-image:url("../img/portfolio/domotictech/indicators.jpg");}
ul:nth-of-type(6) { width:150px; height:80px; }
/* 
Hide debug label 
*/
li { text-indent:999px; overflow:hidden; }

#img_item1{
  max-width: 250px !important;
  height: auto;
  margin: auto;
  box-shadow: none !important;

}
.item_gle1
{ 
  margin-top: 2em;
  max-width: 250px !important;
  height: auto;
  display: inline;
  background: rgba(0,0,0,0);
  transform: rotate(-30deg) skew(25deg) scale(.8);
  transition: 0.5s;
}

.item_gle1 img
{
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.item_gle1:hover img:nth-child(4)
{
  transform: translate(100px,-100px);   
  opacity: 1;
}
.item_gle1:hover img:nth-child(3)
{
  transform: translate(80px,-80px);   
  opacity: .8;
}
.item_gle1:hover img:nth-child(2)
{
  transform: translate(50px,-50px);   
  opacity: .6;
}
.item_gle1:hover img:nth-child(1)
{
  transform: translate(20px,-20px);   
  opacity: .4;
}
.contenedor{
  display: block; 
  margin: 20px auto; 
  width: 100%; 
  max-width: 600px;  
}
.reproductor { 
  display: block; 
  width: 100%; 
  height: 100%; 
  padding-bottom: 56.25%; 
  overflow: hidden; 
  position: relative; 
  cursor: hand; 
  cursor: pointer; 
}
img.imagen-previa { 
   display: block; 
   left: 0; 
   bottom: 0;
   margin: auto; 
   max-width: 100%; 
   width: 100%; 
   position: absolute; 
   right: 0; 
   top: 0; 
   height: auto 
}
div.youtube-play { 
   height: 64px; 
   width: 64px; 
   left: 50%; 
   top: 50%; 
   margin-left: -36px; 
   margin-top: -36px;
   opacity:0.7;
   position: absolute; 
   background:   url("https://cdn2.iconfinder.com/data/icons/social-icons-color/512/youtube-64.png") no-repeat; 
}
div.youtube-play:hover{
   opacity:1; 
}
#youtube-iframe { 
   width: 100%; 
   height: 100%; 
   position: absolute; 
   top: 0; 
   left: 0; 
}