/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #cf6fb5;
}

a:hover {
  color: #067ded;
  text-decoration: none;
  cursor: pointer;
}

#illustration{
  max-width: 300px !important;
  height: auto;
  align-items: center;
  display: block;
  margin: auto !important;
  box-shadow: none;
}

.floating {   
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px; 
} 
 
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
} 

table p{
  font-size: 0.8em !important;
  font-style: italic;
}

table{
  font-size: 0.9em;
  text-align: center;
}
.badge{
  font-size: 1.5em;
  text-align: center;
}
.neuro{
  font-size: 0.8em !important;
  margin-bottom: 5px;
}
.cursor{
  cursor: pointer;
  color: #978b94 !important;
  font-size: 0.9em !important;
}
#certificate{
  max-width: 50px !important;
  height: auto;
  border-radius: 5px;
  display: block;
  float: left;
  margin-right: 1em;
    -webkit-box-shadow: 4px 1px 38px -10px rgba(0,0,0,0.82); 
box-shadow: 4px 1px 38px -10px rgba(0,0,0,0.82);
}
#img_skill{
  max-width: 200px !important;
  height: auto;
  border-radius: 5px;
  align-items: center;
  display: block;
  margin: auto;
}

.skill_info {
text-align: center;

cursor: pointer;
perspective: 500px; 
}
.skill_info .inf {
width: 70%;
height: auto;
font-size: 1em;
padding: 5% 8%;
position: absolute;
content: "";
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotateY(90deg);
transform-origin: 50%;
background: rgba(255,211,243,0.9);
opacity: 0;
transition: all 0.4s ease-in;

}
.skill_info:hover .inf {
transform: translate(-50%, -50%) rotateY(0deg);
opacity: 1;
}
.skill_info:hover img{
  -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#div_skill{
    -webkit-box-shadow: 4px 1px 28px -10px rgba(0,0,0,0.82); 
  box-shadow: 4px 1px 28px -10px rgba(0,0,0,0.82);
  border-radius: 5px;
  padding: 1em;
} 
/* grow effect */
#img_item{
  max-width: 90px !important;
  height: auto;
  margin: auto;
  box-shadow: none !important;

}
.item_gle
{ 
  margin-top: 2em;
  max-width: 90px !important;
  height: auto;
  display: inline;
  background: rgba(0,0,0,0);
  transform: rotate(-30deg) skew(25deg) scale(.8);
  transition: 0.5s;
}

.item_gle img
{
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.item_gle:hover img:nth-child(4)
{
  transform: translate(140px,-140px);   
  opacity: 1;
}
.item_gle:hover img:nth-child(3)
{
  transform: translate(100px,-100px);   
  opacity: .8;
}
.item_gle:hover img:nth-child(2)
{
  transform: translate(60px,-60px);   
  opacity: .6;
}
.item_gle:hover img:nth-child(1)
{
  transform: translate(20px,-20px);   
  opacity: .4;
}

/* */

/* computer 3d */
.computer {
height: auto;
perspective: 1000px;
}

}
.computer img {
 display: block;
width: 100%;
height: 100%;
  border-radius: 5px;
  align-items: center;
  display: block;
  margin: auto;

transform-style: preserve-3d;
transform: rotateX(70deg);
transition: all 0.8s;
}
.computer:hover img {
transform: rotateX(20deg); 
}
.computer img:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));    
   transform: rotateX(90deg);
    transform-origin: bottom;
}
/* computer 3d end*/


h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
button{
  border-radius: 3px !important;
  background: #cf6fb5;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
   -webkit-box-shadow: 4px 1px 38px -10px rgba(0,0,0,0.82); 
box-shadow: 4px 1px 38px -10px rgba(0,0,0,0.82);

}
button:hover {
  background: #ba31a8;
}
a{
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
object {
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-left: 4.1em;
    margin-bottom: -1em;
}
.g1{
  max-width: 50px !important;
  height: auto !important;
}
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #cf6fb5;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #ba31a8;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #cf6fb5;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
    .contact .info {
    display: block !important;
  }
  .item_gle
{ display: none;
}

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 3px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  -webkit-box-shadow: 4px 1px 38px -10px rgba(0,0,0,0.82); 
box-shadow: 4px 1px 38px -10px rgba(0,0,0,0.82);
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  background: #cf6fb5;
}

.nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #cf6fb5;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: auto;
  background: url("../img/code.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

#portfolio {
  width: 100%;
  height: auto;
  background: url("../img/background.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}
#portfolio:before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160.5px;
  }
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.gleysa {
  color: #9c979b !important;
  margin: 10px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
 margin-left: 1.8em;
}


#hero p {
  color: #45505b;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #cf6fb5;
  letter-spacing: 1px;
  margin-left: 1.4em;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #cf6fb5;
}

@media (max-width: 992px) {
 
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
  #illustration{
    max-width: 230px !important;
  }
}
.upt p{
  text-align: center;
  margin-top: 1em;
}
/*
@media (min-device-width: 120px) and (max-device-width: 480px)  {
  #hero {
    text-align: center;
    height: 215vh;
  }
}
@media (min-device-width: 480px) and (max-device-width: 680px)  {
  #hero {
    text-align: center;
    height: 130vh;
  }
}*/
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 160px;
  height: 2px;
  background: #aa2f9a;
  bottom: 1px;
  left: calc(50% - 80px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 6px;
  background: #cf6fb5;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #cf6fb5;
}

.about .content p:last-child {
  margin-bottom: 0;
}
.about img{
  -webkit-box-shadow: 4px 1px 28px -1px rgba(0,0,0,0.9); 
box-shadow: 4px 1px 28px -1px rgba(0,0,0,0.9);
}
/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #cf6fb5;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
  border-radius: 5px;

}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
  border-radius: 5px;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #cf6fb5;
-webkit-box-shadow: 4px 1px 8px -1px rgba(0,0,0,0.9); 
box-shadow: 4px 1px 8px -1px rgba(0,0,0,0.9);
border-radius: 5px;

}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume_item{
  border: 1px solid #cf6fb5;
  border-left: none;
  padding: 0.5em;
}
.resume_item strong{
  font-size: 1.2em !important;
}
.resume_item h3{
  font-weight: bold;
  font-size: 1em !important;
  text-align: center;
}
#resum_ite{

  max-width: 180px;
}
#resume_item{
  text-align: left !important;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #cf6fb5;
  position: relative;
}

.resume .resume-item h1 {
  line-height: 18px;
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #cf6fb5;
  margin-bottom: 10px;
}
.resume .resume-item h6 {
  line-height: 18px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #cf6fb5;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  color: #8c939b;

  display: inline-block;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  left: -9px;
  top: 0;
  background: #ecd5e9;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio .portfolio-item img {
  height: auto;
 -webkit-box-shadow: 4px 1px 38px -10px rgba(0,0,0,0.82); 
box-shadow: 4px 1px 38px -10px rgba(0,0,0,0.82);
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #cf6fb5;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 18px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  height: auto;
  background: #fff;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.contact .info i {
  font-size: 20px;
  color: #cf6fb5;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email, .contact .info .phone {
  margin-top: 0px;
  margin-right: 1em;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #cf6fb5;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #cf6fb5;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 3px !important;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ba31a8;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding: 40px 0;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #cf6fb5 !important;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

.boxcon,
.content {
  margin: auto;
}
.boxcon {
  width: 94.02985075%;
  max-width: 1260px;
  padding: 0 2.25em 4em;
  height: auto;
}

.cube-boxcon {
  max-width: 200px;
  text-align: center;
  margin: 0 auto 4.5em;
}

.immg-desc {
  font-size: .85em;
  color: #fff;
  background: #d5aec5;
}

.immg-desc p {
  margin: 1em;
}

.immg-desc h3 {
  font-size: 1.1em;
  margin-top: 1em;
  font-weight: bold;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}


@media (min-width: 769px) {
  .cube-boxcon {
    float: left;
    margin-left: 16.6%;
  }
}
@media (min-width: 1025px) {
  .cube-boxcon:first-child {
    margin-left: 0;
  }
  .cube-boxcon:last-child{
    float: right;
  }
  .content {
    max-width: 900px;
    margin: auto;
  }
}

.cube-boxcon {
  box-shadow: 0 18px 40px 5px rgba(0,0,0,.8);
  perspective: 800px;
}

.immg-cube {
transition: transform 5s ease-in-out; 
  width: 220px;
  height: 220px;
  transform-style: preserve-3d;
}

.immg-cube:hover {
transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
width: 100%;
height: 100%;
display: block;
position: absolute;
}

.front {
transform: translate3d(0,0,110px);
}

.back {
transform: translateZ(-110px) rotateY(270deg);
  transform-origin: center left;
}

.left {
transform: rotateY(-270deg) translate3d(110px, 0, 0);
  transform-origin: top right;
}

.right {
transform: translateZ(-110px) rotateY(180deg);
 }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #cf6fb5;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ba31a8;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}
