
html, body {
  margin:0;
  padding:0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: transparent;
}
h1 {
  margin: 0;
  font-size: 55px;
  font-weight: 700;
  line-height: 62px;
  color: #45505b;
  position: absolute;
  margin-left: 2.35em;
  margin-top: 0.5em;
  font-family: 'Roboto', sans-serif;

}
@media (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
     margin-left: -1em;
  }  
}

.gleysa1{transform: rotateX(60deg) rotateY(360deg) translateZ(8.5vw);}
.gleysa2{transform: rotateX(120deg) rotateY(360deg) translateZ(8.5vw);}
.gleysa3{transform: rotateX(180deg) rotateY(360deg) translateZ(8.5vw);}
.gleysa4{transform: rotateX(60deg) rotateY(180deg) translateZ(8.5vw);}
.gleysa5{transform: rotateX(120deg) rotateY(180deg) translateZ(8.5vw);}
.gleysa6{transform: rotateX(120deg) rotateY(180deg) translateZ(8.5vw);}
.gleysa7{transform: rotateX(180deg) rotateY(0deg) translateZ(-8.5vw); margin-top: 0.5em; height: 0.5em !important}
.gleysa8{transform: rotateX(0deg) rotateY(100deg) translateZ(-8.5vw); margin-top: 0.5em; height: 0.2em !important; margin-left: 1em}

#plan {
  position: absolute;
  top: calc(50% - 10vh);
  right: calc(50% - 10vw);
  width: 80vw;
  height: 20vh;
  perspective: 600px;
}
.gicon {
  font-size: 10vw;
  position: absolute;
    right: calc(50% - 2em) !important;
    top: calc(50% - 0.5em);
  width: 3em;
  height: 3em;
  transform-style: preserve-3d;
  color: transparent;
  transition: all ease 0.45s;
  animation: spinIt linear 22s infinite;

}

@media (min-device-width: 320px) and (max-device-width: 480px) {
  .gicon {
   right: calc(50% - 0.01em);
  }  
}

@keyframes spinIt {
  0% {
    transform:translateZ(10vw) rotateY(70deg) ;
  }
  100% {
    transform: translateZ(10vw) rotateY(30deg);
    right: calc(50% - 2.5em);
  }
}

b {
  display: block;
  width: 1em;
  height: 1em;
  background: rgba(207,111,181,0.3);
  box-shadow: inset 0 0 0.1em rgba(0,255,0,0.1),inset 0 0 0.3em rgba(0,0,0,0.8);
  position: absolute;
  transform-style: preserve-3d;
  transition: all ease 3s;

}
.gicon:hover b {
  background: rgba(277,6,120,0.3);
}
.gicon:active b {
  background: rgba(0,250,250,0.3);
  transform: rotateY(0deg) translateY(0vw) translateZ(0vw) !important;
  box-shadow: inset 0 0 0.1em rgba(0,255,0,0.1);
}

@keyframes rotate {
  from {
    transform: rotateX(70deg) rotateZ(10deg) rotateY(0deg);
    }
  to {
    transform: rotateX(-70deg) rotateZ(-10deg) rotateY(360deg);
    }
}

